/* src/styles/variables.css */

:root {
  /* Color variables */
  --primary-color: #212832;
  --secondary-color: #f1a501;
  --background-color: #ffffff;
  --text-color: #212832;
  --link-color: #212832;
  --link-hover-color: #f1a501;
  --nav-background-color: #fff1da;
  --border-color: #000000;

  /* Typography variables */
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --font-size-base: 1.0625rem;
  --font-size-large: 1.25rem;
  --font-size-small: 0.875rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Spacing variables */
  --padding-base: 0.5rem;
  --margin-base: 0.5rem;
  --gap-base: 1rem;

  /* Layout variables */
  --header-height: 3rem;
  --nav-width: 70%;
}
